input{
    background-color: transparent;
    border: 1px solid #FCFCFC;
    border-radius: 8px;
    width: 400.64px;
    height: 42.44px;

    display: flex;
    text-align: right;
    padding-right: 10px;

    font-family: Poppins;
    font-style: normal;
    color: #FAFAFA;
    
}

.searchInput::placeholder {
    color: white; 
}

.iconBox {
    position: relative;
    top: 33px;
    left: 20px;
    color: white;
}