.search{
    display: flex;
    height: 42px;
    width: 308px;
    justify-content: space-between;
    padding-right: 10px;
    padding-left:10px ;
    border: 1px solid white;
    border-radius: 8px;
    align-items: center;
    color: white;
    margin-top: 26px;
    background-color: #1E123B;
    
    
}
.search ::placeholder{
    justify-content: end;
    color: aliceblue;
}

.search icon{
    height: 18px;
    width: 18px;
}