.screen{
  position: absolute;
  display: flex;
  background-color: #8758FF;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.view{
  display: flex;
  
  background-color: #1E123B;
  height: 495.36px;
  width: 743.81px;
  border-radius: 8px;
  align-items: center;
  flex-direction: column;
}

.view h1{
  color: #FCFCFC;
  font-size: 24.69px;
  margin-top: 43px;
  
}
.inputs{
  display: flex;
  flex-direction: column;
  margin-top: 84px;
  gap: 20px;
}




